/* Глобальные стили для проекта, их можно дополнять и менять по желанию */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.paragraf__text {
  color: var(--general-color);
  font-family: var(--general-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  letter-spacing: 0%;
}

.general__title__text {
  color: var(--general-title-color);
  font-family: var(--general-font);
  font-size: 116px;
  font-weight: 700;
  line-height: 82.5%;
  letter-spacing: 0%;
  text-shadow: 4px 4px 0 var(--decoration-color);
}

.title__text {
  color: var(--title-color);
  font-family: var(--general-font);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  letter-spacing: 0%;
  background-color: var(--decoration-color);
}

article__title__text {
  color:  var(--decoration-color);
  font-family: var(--general-font);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  letter-spacing: 0%;
}
