/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@media (width >767px) {
  
  .page {
    gap: 60px;
  }
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  min-inline-size: 375px;
  min-block-size: 668px;
  position: relative;
  padding: 10px;
}

@media (width >767px) {

  .header {
    padding: 20px 20px 20px 0;
    min-inline-size: 768px;
    min-block-size: 1024px;
    background-position: none;
  }
}

@media (width >1023px) {

  .header {
    min-inline-size: 1024px;
    min-block-size: 768px;
  }
}

.header__decoration__element {
  position: absolute;
  top: 0;
  right: 0;
}

@media (width >767px) {

  .header__decoration__element {
    top: 10px;
    right: 10px;
  }
}

.header__decoration__element::before {
  content: "REC";
  font-family: var(--general-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: var(--rec-color);
  position: absolute;
  top: 10px;
  right: 38px;
}

.header__decoration__element::after {
  content: "";
  position: absolute;
  display: block;
  height: 12px;
  width: 12px;
  border-radius: 10px;
  background-color: var(--rec-color);
  top: 18px;
  right: 19px;
  filter: blur(2px);
}

.decorated-zone::before {
  content: " ";
  position: absolute;
  border-top: 1px solid var(--rec-color);
  border-right: 1px solid var(--rec-color);
  width: 25px;
  height: 25px;
  right: 10px;
  top: 10px;
}

@media (width >767px) {

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }
}

.decorated-zone::after {
  content: " ";
  position: absolute;
  border-bottom: 1px solid var(--rec-color);
  border-left: 1px solid var(--rec-color);
  width: 25px;
  height: 25px;
  left: 10px;
  bottom: 10px;
}

@media (width >767px) {

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }
}

.header__theme-menu {
  display: flex;
  justify-content: end;
}

@media (width > 1023px) {

  .header__theme-menu {
    align-items: start;
    justify-content: center;
  }
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
}

@media (width > 1023px) {

  .header__theme-menu-list {
    flex-direction: row;
  }
}

.header__theme-menu-item {
  color: var(--rec-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--rec-color);
  pointer-events: none;
}

.header__theme-menu-button {
  text-transform: lowercase;
  font-family: var(--general-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
  padding: 0 13px 0;
}

@media (hover: hover) {

  .header__theme-menu-button:hover {
    outline: 1px solid var(--decoration-color-alpha);
    cursor: pointer;
  }
}

@media (pointer: course) {

  .header__theme-menu-button {
    inline-size: 44px;
    block-size: 44px;
  }
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--decoration-color);
  margin-bottom: -1px;
}

.desktop {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (width >767px) {

  .desktop {
    display: grid;
    grid-template-columns: 1.055fr 1fr;
    grid-template-areas: ". container";
    align-items: center;
  }

  .header__discription {
    grid-area: container;
  }
}

.title__decoration {
  background-color: var(--decoration-color);
  color: var(--title-color);
}

.main {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

@media (width > 767px) {

  .main {
    padding: 0 20px;
    gap: 80px;
  }
}

.paragraf__text:last-child {
  margin-bottom: 0;
}

.article__title {
  margin-bottom: 20px;
}

.article__subtitle {
  margin-bottom: 10px;
}

.regular__mod {
  font-weight: 400;
}

.paragraf__text {
  margin-bottom: 20px;
}

.link__in__text {
  text-shadow: 2px 2px 0 var(--decoration-color);
  text-decoration: none;
}

@media (hover: hover) {

  .link__in__text:hover {
    border-bottom: 1px solid var(--general-color);
    cursor: pointer;
  }
}

@media (pointer: course) {

  .link__in__text {
    inline-size: 44px;
    block-size: 44px;
  }
}

.link__in__text:focus {
  outline: none;
}

.link__in__text:focus-visible {
  outline: 1px solid var(--general-color);
}

.list__images {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.visual__example {
  width: calc(100vw - 20px);
  display: block;
}

.footer {
  position: relative;
  height: 179vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__mode {
  text-shadow: 2px 2px 0 var(--decoration-color);
}

@media (width >767px) {

  .visual__example {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .footer {
    height: 133.5vw;
  }

  .article__first {
    display: grid;
    grid-template-columns: 1fr 1.85fr;
    grid-template-rows: repeat(4, fit-content);
    grid-auto-flow: column;
  }

  .article__first .tablet {
    grid-row: span 4;
  }

  .article__second > .article__title {
    width: 20vw;
  }

  .article__third {
    display: grid;
    grid-template-columns: 1fr 1.85fr;
    grid-template-rows: repeat(11, fit-content);
    grid-auto-flow: column;
  }

  .article__third .tablet {
    grid-row: span 11;
  }

  .list__images {
    display: grid;
    grid-template-columns: repeat(3, fit-content);
    grid-template-rows: repeat(3, fit-content);
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
    gap: 20px;
  }

  .sunset {
    grid-area: sunset;
  }

  .ice-cream {
    grid-area: ice-cream;
  }

  .tape {
    grid-area: tape;
  }

  .books {
    grid-area: books;
  }

  .street {
    grid-area: street;
  }

  .article__fourth > .article__subtitle {
    margin-bottom: 20px;
  }
}

@media (width > 1023px) {

  .article__second {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, fit-content);
    grid-auto-flow: column;
    grid-template-areas:
      "title title title"
      "subtitle-1 subtitle-2 subtitle-3"
      "paragraf-1 paragraf-2 paragraf-3";
    column-gap: 20px;
  }
  
  .article__second > .article__title {
    grid-area: title;
    width: 30vw;
  }

  .article__second > .title__text:nth-child(2) {
    grid-area: subtitle-1;
  }

  .article__second > .title__text:nth-child(4) {
    grid-area: subtitle-2;
  }

  .article__second .title__text:nth-child(6) {
    grid-area: subtitle-3;
  }

  .article__second > .paragraf__text:nth-child(3) {
    grid-area: paragraf-1;
  }

  .article__second > .paragraf__text:nth-child(5) {
    grid-area: paragraf-2;
  }

  .article__second > .paragraf__text:nth-child(7) {
    grid-area: paragraf-3;
  }

  .article__first {
    grid-template-columns: 1fr 1.945fr;
  }

  .article__third {
    grid-template-columns: 1fr 1.945fr;
  }

 

  .footer {
    height: 75vw;
  }
}
