/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  min-inline-size: 375px;
  min-block-size: 668px;
  background-image: url(/images/cover-image-dark.png);
  background-repeat: no-repeat;
  background-position: cover;
  background-position: center bottom;
  position: relative;
  padding: 10px;

}

.header__decoration__element {
  position: absolute;
  top: 0;
  right: 0;
  
}

.header__decoration__element::before {
  content: 'REC';
  font-family: var(--general-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: var(--decoration-color);
  position: absolute;
  top: 10px;
  right: 38px;
  
}

.header__decoration__element::after {
  content: '';
  position: absolute;
  display: block;
  height: 12px;
  width: 12px; 
  border-radius: 10px;
  background-color: var(--decoration-color);
  top: 18px;
  right: 19px;
  filter: blur(2px);
 
}

.decorated-zone::before {
  content: " ";
  position: absolute;
  border-top: 1px solid var(--decoration-color);
  border-right: 1px solid var(--decoration-color);
  width: 25px;
  height: 25px;
  right: 10px;
  top: 10px;
}

.decorated-zone::after {
  content: " ";
  position: absolute;
  border-bottom: 1px solid var(--decoration-color);
  border-left: 1px solid var(--decoration-color);
  width: 25px;
  height: 25px;
  left: 10px;
  bottom: 10px;
}

.header__theme-menu {
display: flex;
justify-content: end;

}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
    
}

.header__theme-menu-item {
  color: var(--decoration-color);

}

.header__theme-menu-button_active {
  outline: 1px solid var(--decoration-color);
}

.header__theme-menu-button {
  text-transform: lowercase;
  font-family: var(--general-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
  padding: 0 13px 0;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--decoration-color-alpha);
}

.header__theme-menu-button:focus {
outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--decoration-color);
  margin-bottom: -1px;
}

.header__discription {
 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title__decoration {
  background-color: var(--decoration-color);
  color: var(--title-color);
}

.main {
  padding: 0 10px 0 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.paragraf__text:last-child {
  margin-bottom: 0;
}

.article__title {
  margin-bottom: 20px;
}

.article__subtitle {
  margin-bottom: 10px;
}

.regular__mod {
  font-weight: 400;
}

.paragraf__text {
  margin-bottom: 20px;
}

.link__in__text {
  text-shadow: 2px 2px 0 var(--decoration-color);
  text-decoration: none;
}
.link__in__text:hover {
  border-bottom: 1px solid var(--general-color) ;
}

.link__in__text:focus {
  outline: none;
}

.link__in__text:focus-visible {
  outline: 1px solid var(--general-color);
}

.list__images {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-content: space-around;
}

.visual__example {
  width: 355px;
}


.footer {
  position: relative;
  height: 668px;
  display: flex;
  justify-content: center;
  align-items: center;
}