/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --title-color: #000028;
  --general-color: #f1b2ce;
  --decoration-color: #ff0070;
  --decoration-color-alpha: rgb(255, 0, 112, 0.4);
  --general-title-color: #db00ff;
  --rec-color: #ff0070;
  --general-font: "IBM Plex Mono", sans-serif;
  --background-color-main: #000028;
  --background-image: url(/images/cover-image-dark.png);
}
